/*------------------------------------*\
	Contact
\*------------------------------------*/

.contact {
    margin: 15px 0px;
    text-align: center;
}

.contact i {
    font-size: 36px;
    color: #6195FF;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 40px;
}

.contact-form .input {
    margin-bottom: 20px;
}


.contact-form .input:nth-child(1), .contact-form .input:nth-child(2) {
    width: calc(50% - 10px);
}

.contact-form .input:nth-child(2) {
    margin-left: 15px;
}

.contact-form .button {    font-family: 'Varela Round', sans-serif !important;}

@media only screen and (max-width: 480px) {

    .contact-form .input:nth-child(1), .contact-form .input:nth-child(2) {
        width: 100%;
    }

    .contact-form .input:nth-child(2) {
        margin-left: 0px;
    }

    .reply-form form .input, .reply-form form .input {
        width: 100%;
    }

    .reply-form form .input:nth-child(2) {
        margin-left: 0px;
    }
}