{% extends "block.html.twig" %}

{% set attributes = attributes.addClass('menu-block') %}
{% block content %}
    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">

            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="index.html">
                        <img class="logo" src="themes/agency/img/logo.png" alt="logo">
                        <img class="logo-alt" src="themes/agency/img/logo-alt.png" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Collapse nav button -->
                <div class="nav-collapse">
                    <span></span>
                </div>
                <!-- /Collapse nav button -->
            </div>

            <!--  Main navigation  -->
            <ul class="main-nav nav navbar-nav navbar-right">
                {% if menus %}
                    {% for menu in menus %}
                        <li><a href="#{{ menu.url }}">{{ menu.title }}</a></li>
                    {% endfor %}
                {% endif %}

                {#<li class="has-dropdown"><a href="#blog">Blog</a>#}
                    {#<ul class="dropdown">#}
                        {#<li><a href="blog-single.html">blog post</a></li>#}
                    {#</ul>#}
                {#</li>#}
            </ul>
            <!-- /Main navigation -->

        </div>
    </nav>
    <!-- /Nav -->
{% endblock %}
