<!-- Header -->
<header id="home">
    <!-- Background Image -->
    <div class="bg-img">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    {{ page.primary_menu }}

    {{ page.header }}

</header>
<!-- /Header -->
<div id="content-wrapper">
    {{ page.content }}
</div>

<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <div class="col-md-12">



                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="index.html"><img src="themes/agency/img/logo-alt.png" alt="logo"></a>
                </div>
                <!-- /footer logo -->

                {{ page.footer }}

            </div>

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</footer>
<!-- /Footer -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- /Back to top -->

<!-- Preloader -->
<div id="preloader">
    <div class="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- /Preloader -->